/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Fira Sans", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;

}

.container {
    padding: 0px 120px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 8px;

}

.btn-primary {
    background-color: #006A50;
    color: white;
    border: 2px solid #006A50;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid #006A50;
    color: #006A50;
}

.btn-primary:hover {
    background-color: transparent;
    color: #006A50;
}

.btn-secondary:hover {
    background-color: #006A50;
    color: white;
}

/* header styles */
header {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.11);
}

#brandLogo {
    width: 200px;
}

/* hero section styles here*/
.heroMain {
    background: #C6E4D6;
    border-radius: 24px;
    display: flex;
    padding: 60px;
    margin-top: 80px;
}

.heroLeft {
    width: 60%;
}

.heroRight {
    width: 40%;
    display: flex;
    justify-content: end;
}

.heroLeft h5 {
    font-size: 24px;
    color: #0e0e0e7a;
    font-weight: 500;
    margin-bottom: 15px;
}

.heroLeft h1 {
    font-size: 56px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}